---
interface Props {
  id: string;
  title: string;
  index?: number; // Added prop for index of modal
}

const { id, title,index } = Astro.props;
const zindex = index ? (100+index) : 100; // Ensure it's above typical modal overlays (often 1040)

---

<div class="modal micromodal-slide" id={id} aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close style={`z-index: ${zindex}`}>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby={`${id}-title`}>
      <header class="modal__header">
        <h2 class="modal__title" id={`${id}-title`}>
          {title}
        </h2>
        <button class="modal__close" aria-label="Cerrar modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id={`${id}-content`}>
        <slot />
      </main>
      <footer class="modal__footer">
        <slot name="actions" />
      </footer>
    </div>
  </div>
</div>

<script src="/src/components/modal/modalinit.js"></script>